{% if site.additionalinfo %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 style="text-align: center;">Additional Information</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<!-- {{site.additionalinfo}} -->
				<div class="additional-information-main-content">
					<div class="additional-information-section-header">
						<h3>Java</h3>
						<p>Mostly used for Data structures and Design of Algorithms. I also made several games when i was in university. Recently i am improving my knowledge of Java EE (Spring Framework, Hibernates, etc.)</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Nodejs</h3>
						<p>My most experienced technology is Nodejs. When i was intern a campany I took a role as backend developer. My team mates and i developed a big API using OPEN API standarts. Also i have used several Nodejs frameworks like Adonisjs, Loopback, Socket.io, etc. In my collage I have made my thesis using Nodejs</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Golang</h3>
						<p>When i was working on Insider. There were several problems with automation. And I decided to make our people life easier. And I need to write a Food Bot for the peoeple. And i learned Go language to make the response times much more shorter. And then i realized i liked Go so much. And i continued to use Golang for my personal projects.(Web Projects, Microservices)</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Devops</h3>
						<p>In university i was started to use Linux. And i really enjoyed it. Because it seemed like it is a Virtual World. So keept using Linux. And do some devops stuffs. Then started to using Devops and automation stuffs. The last company that i was workign on was using AWS cloud. I tried to make experience using Jenkins, Docker, AWS, Shell Script, etc. And they gave me a permission to be able to do that.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>PHP</h3>
						<p>The first backend language that i learned is PHP. When i was doing my first internship We needed to make a website using PHP. And we used a framework called Codeigniter. Then i liked PHP and learned a new framework called Laravel. I have made several websites using PHP for my Freelance works.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Cloud Platforms</h3>
						<p>I have primarily used AWS for running production apps on the cloud. I have experience setting up, configuring and running applications using EC2. I have also experience lambda functions and S3.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Web Development</h3>
						<p>Through building web applications, I have also worked with various client side technology, having used jQuery, Bootstrap, LESS, SASS, Backbone/Underscore/Require. More recently I have written React applications (primarily using the Create React App framework, and extending them)</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Continues Integration</h3>
						<p>I have a good knowledge of application life-cycle management tools like Git, Maven, Jenkins, etc. I have experience with an array of testing tools and technologies.</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
{% endif %}
