{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Contact Me</h1>
		</div>
		<div class="content-rounded-panel-right">
			<div id="stackScore">
				<a target='_blank'>
					<img src="../img/avatar.jpeg" class="sidebar-avatar">
					<div class="sidebar-contact-container">
						<p><a href="https://www.linkedin.com/in/cagan-sit-886071121/"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
						<p><a href="https://github.com/xaganic"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a></p>
						<p><a href="https://medium.com/@cagan"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></p>
						<p><a href="tel:531-220-23-41"><i class="fa fa-phone-square" aria-hidden="true"></i> 531 220 23 41</a></p>
						<p><a href="mailto:cagan.sit@gmail.com?Subject=Hello%20Cagan"><i class="fa fa-envelope" aria-hidden="true"></i> cagan.sit@gmail.com</a></p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endif %}
