{% if site.additionalinfo %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 style="text-align: center;">Additional Information</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<!-- {{site.additionalinfo}} -->
				<div class="additional-information-main-content">
					<div class="additional-information-section-header">
						<h3>Java</h3>
						<p>My biggest goal is being a good Java Developer. Thats why nowadays i am imroving my Java EE skills to be a backend developer using Java. Mostly used for Data structures and Design of Algorithms. I also made several games when i was in university. Recently i am improving my knowledge of Java EE (Spring Framework, Hibernates, etc.)</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Nodejs</h3>
						<p>My most experienced technology is Nodejs. When i was intern a campany I took a role as backend developer. My team mates and I were developed a big API using OPEN API standarts. And my recent company I have been part of several projects as backend developer. Also i have used several Nodejs frameworks like Adonisjs, Loopback, Socket.io, etc. In my collage I have made my thesis using Nodejs</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Golang</h3>
						<p>I have always been open to innovation and new things. Thats why Go is so impressed to me. I think it is good to learn new technologies, not to keep using same techologies. Go is the best choose that I can learn as a new techonology./p>
					</div>

					<div class="additional-information-section-header">
						<h3>Devops</h3>
						<p>In university i was started to use Linux. And i really enjoyed it. Because it seemed like it is a Virtual World. So I continued to use Linux couple of years. I worked with AWS cloud technologies (S3, EC2, CloudWatch, Lambda Functions). After I developed applications I served to the live using cloud technologies.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>PHP</h3>
						<p>The first backend language that i learned is PHP. When i was doing my first internship We needed to make a website using PHP. And we used a framework called Codeigniter. Then i liked PHP and learned a new framework called Laravel. I have made several websites using PHP for my Freelance works.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Cloud Platforms</h3>
						<p>I have primarily used AWS for running production apps on the cloud. I have experience setting up, configuring and running applications using EC2. I have also experience lambda functions and S3.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Web Development</h3>
						<p>Through building web applications, I have also worked with various client side technology, having used jQuery, Bootstrap, LESS, SASS, Backbone/Underscore/Require. More recently I have written React applications (primarily using the Create React App framework, and extending them)</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Continues Integration</h3>
						<p>I have a good knowledge of application life-cycle management tools like Git, Maven, Jenkins, etc. I have experience with an array of testing tools and technologies.</p>
					</div>

					<div class="additional-information-section-header">
						<h3>Software Engineering</h3>
						<p>Software Engineering means using engineering concepts to develop software. They have technical expertise, demonstrable personal accomplishments and experience with using open source tools and projects. We should know how to create and maintain IT architecture, large scale data stores and cloud-based systems. I always try to be a technical guy as much as I can do. And tried to apply software techniques to my projects.</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
{% endif %}
