{% if site.stackoverflow %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
		</div>
		<div class="content-rounded-panel-right">
			<div id="stackScore">
				<a target='_blank' href="#">
					<img src="../img/avatar.jpeg" class="sidebar-avatar">
					<div class="sidebar-contact-container">
						<p><a href="https://www.linkedin.com/in/%C3%A7a%C4%9Fan-%C5%9Fit-886071121/"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
						<p><a href="https://github.com/xaganic"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a></p>
						<p><a href="https://medium.com/@cagan"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></p>
						<p><a href="tel:531-220-23-41"><i class="fa fa-mobile" aria-hidden="true"></i> 0 531 220 23 41</a></p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endif %}
